<%- include("partials/header") -%>
<!-- for(var i=0;i<homePosts.length;i++){ -->
<% homePosts.forEach(function(post){ %>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
<% }) %>     
<%- include("partials/footer") -%> 